body {
  font-family: "Open Sans", sans-serif;
  /* margin-left: 30px;
  margin-right: 30px; */
  color: white;
  background-image: url("https://raw.githubusercontent.com/eileenssm90/bootcamp-videoPoker/main/images/pokerTable2.jpg");
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  overflow: hidden;

  /* background-position: center; 
  background-repeat: no-repeat;
  background-size: center;*/
}

h3 {
  /* margin: 0; */
  /* padding-bottom: 6rem; */
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  font-family: "Teko", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  animation: glow 1s ease-in-out infinite alternate;
  text-align: center;
}

#topContainer,
#mediumContainer,
#lowerContainer,
#grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#dealContainer,
#swapContainer,
#betContainer,
#bankContainer,
#instructionsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 100%;
}

.square {
  /* padding: 10px;
  margin: 10px; */
  background-color: white;
  display: inline-flex;
  height: 100px;
  width: auto;
  /* border-radius: 8px; */
  /* z-index: 1; */
}

.button {
  /* display: inline-block; */
  padding: none;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: transparent;

  border: none;
  height: 200px;
  width: 200px;
  background-size: cover;
}

#header {
  text-align: center;
}

#output-div img {
  display: inline-flex;
  max-width: 100px;
}

#output-div {
  float: top;
  text-align: center;
}

#total-bet-amount {
  display: inline-flex;
}

#dealButton img,
#shuffleButton img,
#instructionsContainer img,
#openModal img {
  background-color: transparent;
  border: none;
  height: 100px;
  object-fit: cover;
  justify-content: center;
  /* border-radius: 10px; */
  /* box-shadow: 10px 10px 8px #888888; */
  /* background-color: #4caf50; */
}

#betButton img,
#total-bet-amount img {
  height: 50px;
}

body {
  font-family: sans-serif;
}

.scene {
  width: 200px;
  height: 260px;
  border: 1px solid #ccc;
  margin: 40px 0;
  perspective: 600px;
}

.card .square {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  /* background: red; */
  z-index: 1;
}

.card__face--back {
  background-color: blue;
  transform: rotateY(180deg);
  z-index: 0;
}

/*
#payTableModal {
  display: none;
  position: absolute;
  right: 100px;
  bottom: 100px
}
    
#openModal:hover + #payTableModal {
  display: block;
  color: white;
  border: 1px solid 
}

#openModal .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
*/

#output-div img:hover {
  background-color: #3e8e41;
  border-radius: 10%;
}

#dealButton img:hover {
  background-color: #3e8e41;
  border-radius: 10%;
}

#shuffleButton img:hover {
  background-color: #3e8e41;
  border-radius: 10%;
}

#betButton img:hover {
  background-color: #3e8e41;
  border-radius: 10%;
}

#output-div img:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

#dealButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

#shuffleButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

#betButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

@keyframes glow {
  from {
    text-shadow: 0 0 50px white;
  }
  to {
    text-shadow: 0 0 50px white, 0 0 50px white;
  }
}

.slide-out-top {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
